* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    text-align: center;
}
.weather-container {
    padding: 20px;
    height: auto;
    min-height: 100vh;
    margin: 0 auto;
}
.weather-widget-mobile {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}
.location h2 {
    font-size: 1.8em;
    text-align: left;
    margin-bottom: 20px;
}
.current-weather {
    text-align: center;
    margin-bottom: 20px;
}
.weather-icon {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}
.temperature {
    font-size: 3em;
    margin-top: 10px;
}
.description {
    font-size: 1.5em;
    color: #666;
    margin-bottom: 20px;
}
.settings {
    font-size: 1.2em;
    color: #666;
    margin-top: 10px;
}
.settings span {
    display: inline-block;
    margin-right: 20px;
}
.forecast {
    display: block;
    margin-top: 30px;
}
.forecast-day {
    display: block; /*Les jours sont placés les uns sur les autres et s'adaptent suivant la taille de l'écran*/
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid black;
}
.forecast-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.forecast-day span {
    display: block;
    font-size: 1.2em;
}
@media (max-width: 600px) {
    .weather-widget-mobile {
        width: 90%;
        min-height: 650px;
    }
}
@media (min-width: 601px) and (max-width: 1024px) {
    .weather-widget-mobile {
        width: 80%;
        max-width: 600px;
        min-height: 600px;
    }
}
@media (min-width: 1025px) {
    .weather-widget-mobile {
        width: 70%;
        max-width: 1000px;
        min-height: 700px;
    }
    .forecast {
        text-align: center;
    }
    .forecast-day {
        display: inline-block; /* Affiche les jours côte à côte */
        vertical-align: top; /* Aligne les éléments en haut */
        margin: 10px;
        width: 18%;
    }
}
